<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Juego - Trivia de películas</title>
</head>
<body>
    <h1>Juego de Trivia de películas</h1>
    <p>¡Hola, {{ nombre_usuario }}!</p>
    <h2>Frases seleccionadas:</h2>
    <form action="/respuestas" method="post">
        <h2>Frase:</h2>
        <p>{{ frase }}</p>
        <h2>Opciones:</h2>
        <input type="hidden" name="respuesta_correcta" value="{{ respuesta_correcta }}">
        <input type="radio" name="opcion" value="{{ opcion1 }}">{{ opcion1 }}<br>
        <input type="radio" name="opcion" value="{{ opcion2 }}">{{ opcion2 }}<br>
        <input type="radio" name="opcion" value="{{ opcion3 }}">{{ opcion3 }}<br>
        <input type="submit" value="Responder">
    </form>

</body>
</html>

