<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Trivia de películas</title>
</head>
<body>
    <body style="background-color:#2f70d39d;">
        <img src="{{url_for('static', filename='image.jpeg') }}" width="400">
    <h1>Trivia de películas</h1>
    <h2>Bienvenido, {{ nombre_usuario }}!</h2>
    <form action="/game" method="post">
        <input type="hidden" name="nombre_usuario" value="{{ nombre_usuario }}">
        <input type="hidden" name="num_frases" value="{{ num_frases }}">
        {% for index, frase in enumerate(frases_seleccionadas) %}
        <div>
            <h3>Frase {{ index + 1 }}:</h3>
            <p>{{ frase['frase'] }}</p>
            <h3>Opciones:</h3>
            {% for opcion in frase['opciones'] %}
            <input type="radio" name="opcion{{ index }}" value="{{ opcion }}"> {{ opcion }}<br>
            {% endfor %}
            <input type="hidden" name="respuesta_correcta{{ index }}" value="{{ frase['respuesta_correcta'] }}">
        </div>
        {% endfor %}
        <input type="submit" value="Responder">
    </form>
</body>
</html>
