<!-- templates/graficas.html -->
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Gráficas</title>
</head>
<body>
    <h1>Gráficas de Resultados</h1>
    <img src="/descargar_graficas" alt="Gráficas de Resultados">
    <a href="/lista_resultados">Volver a la lista de resultados</a>
    <a href="/">Regresar a la página principal</a>
</body>
</html>
